* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --laranja: #ff8c42;
    --marron: #302c25;
    --branco-neve: #d9d9d9;
    --branco: #ffffff;
    --email: #2b2b2b;
}

body {
    background: var(--branco);
    border-top: 6px solid var(--laranja);
    border-bottom: 6px solid var(--laranja);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle, .menu, .menu-lista, .menu-icon {
    display: none;
}

.header img {
    width: 10rem;
}

.header ul {
    display: flex;
    gap: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--laranja);
}

.linkNormal{
    text-decoration: none;
    color: black;
}
.linkNormal::hove{
        text-decoration: none;
    color: black;
}

.barra-pesquisa {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--branco-neve);
    padding: 0 0 0 30px;

    input {
        font-family: "Poppins", system-ui;
        background: var(--branco-neve);
    }

    span {
        background-color: var(--laranja);
        padding: 7px;
        border-radius: 0 20px 20px 0;
        color: var(--branco);
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    input {
        padding: 10px;
        color: #666666;
        background: var(--branco-neve);
        border-radius: 20px;
        width: 50%;
        position: relative;
        margin: 0 auto;
    }
}

.footer {
    background: var(--marron);
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: top;
    padding: 70px 20px;

    img {
        width: auto;
    }


    h4 {
        color: white;
        font-family: 'poppins';
        font-size: 20px;

    }
}

.copyrigth {
    background: var(--marron);
    position: relative;
    margin: 0 auto;
    padding: 10px 100px;
}

.divisor {
    background: var(--branco-neve);
    border: 1px solid var(--branco-neve);
    margin-bottom: 30px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    p {
        color: var(--branco);
        font-family: 'poppins';
    }
}

.lista1 {
    a {
        color: white;
        font-family: 'poppins';
    }

}

.lista2 {
    a {
        color: white;
        font-family: 'poppins';
    }
}

.lista3 {
    a {
        color: white;
        font-family: 'poppins';
    }
}

li {
    list-style: none;
}

.social i {
    background: var(--laranja);
    color: var(--branco);
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
    font-size: 40px;
}

.social p {
    color: var(--branco);
}

.categorias {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
}

.categorias-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    .box {
        background: var(--branco-neve);
        padding: 10px 20px;
        border-radius: 30px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        transition: 0.3s;
        gap: 20px;
        flex: 1;
        min-width: 260px;


        h3 {
            font-family: 'poppins';
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            color: var(--laranja);
        }

        span {
            background-color: var(--laranja);
            padding: 15px;
            border-radius: 50%;
            color: var(--branco);
            font-size: 30px;
        }
    }
}

.box:hover {
    transform: scale(1.05);
}

.categoria-banner {
    position: relative;
    margin: 50px auto;
    max-width: 1100px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.categoria-text {

    h2 {
        justify-content: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--laranja);
        font-size: 40px;
        line-height: 39px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p {
        font-family: 'poppins';
        font-size: 25px;
    }
}

.receitas {
    margin: 100px 0;
    max-width: 1000px;
    margin: 0 auto;

    h2 {
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--marron);
        font-size: 32px;
        line-height: 39px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 20px;
    }

    h4 {
        font-family: 'poppins';
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }
}

.receitas-card {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    box-shadow: 3px 3px 16.7px 0px var(--branco-neve);
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.descricao {
    min-height: 300px;
    padding: 15px;
    margin: 20px;
    font-size: 17px;

    h3 {
        font-family: 'poppins';
        color: var(--laranja);
        font-size: 18px;
        line-height: 39px;
        font-weight: 700;
    }

    p {
        min-height: 250px;
        font-family: 'poppins';
    }
}

.btn {
    margin: 15px 0;
    font-family: 'poppins';
    color: var(--laranja);
    font-size: 17px;
    line-height: 39px;
    font-weight: 600;

    a:hover {
        color: #2b2b2b;
        font-style: italic;
    }
}

.enviar-receita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;

    h2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--marron);
        font-size: 32px;
        line-height: 39px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 20px;
    }
}

.button {
    padding: 10px 70px;
    border-radius: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 36px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
}

.img-nordestina {
    width: 350px;
}

/* Menu Mobile */
.menu {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
}

.menu-lista {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

.menu-lista li {
    margin: 20px 0;
}

.menu-lista li a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.menu-lista li a:hover {
    background-color: #555;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
    transform: translateX(0);
    opacity: 1;
}  

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 40px;
        .menu-desktop{
            display: none;
        }

        .header ul{
            gap: 20px;
        }
    }
    
    .logo_do_site {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header img {
        width: 12rem; /* Aumenta o tamanho da logo */
    }

    .barra-pesquisa {
    display: flex;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* menu mobile */
    .menu-icon {
        width: 50px;
        height: 50px;
        color: white;
        background-color: #ff8c42;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10px;
        left: 5px;
    }

    .menu {
        display: block;
        opacity: 1;
        width: 200px;
        left: 0;
        transform: translateX(-100%);
    }

    .menu-lista {
        opacity: 1;
        display: block;
        padding-top: 100px; /* Add padding to avoid overlap with the icon */
    }
    
    .menu-list ul li {
        display: block;
        margin-bottom: 5px;
        opacity: 1;
    }

    /*fim menu*/

    .categorias-box {
        display: none;
    }

    .categoria-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            padding: 20px;
        }

        p {
            padding: 20px;
        }
    }

    .categoria-img{
        img{
            width: 500px;
            height: 500px;
        }
    }

    .receitas {
        h2 {
            padding: 20px;
        }
    }

    .receitas-card {
        display: block;
        width: 100%;
        img{
            width: 100%;
        }
        p{
            font-size: 15px;
        }
    }

    .categoria-img{
        img{
            width: 100%;
        }
    }

    .categoria-text{
        p{
            font-size: 25px;
        }
    }

    .enviar-receita {
        h2 {
            font-size: 35px;
            text-align: center;
        }
    }

    .footer-top {
        display: block;

        img {
            margin-bottom: 20px;
        }

        ul {
            padding: 20px;
        }
    }

    .formulario input {
        width: 80%;
        /* Aumenta a largura do input para telas menores */
    }

    .footer-top {
        display: block;
        text-align: center; /* Centraliza o texto */
        
        img {
            margin-bottom: 20px;
        }

        ul {
            padding: 20px;
        }
    }

    .footer-bottom {
        display: block;
        text-align: center; /* Centraliza o texto */
        justify-items: center;

        p {
            font-size: 15px;
            text-align: center;
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 30px;
            }
        }
    }
}